/* 
Actualizacion 1.0: 24/03/2020
Actualizacion 2.0: 25/03/2020 - formato links, se elimina "bloginfo" y subida de fotos sin estilo

Realización del archivo, formato header

De lo realizado me falta:

A) Del header: 
  1. Dejarlo fijado arriba sin que el div siguiente se ponga detras de el,
  2. Letras del RightSide>Search en color rgb(170,170,170) y poner bien la lupa sin el corte,
  3. Borde superior del navbar que use la totalidad del width 
  
*/

body {
  background: url(https://i.pinimg.com/originals/22/2a/03/222a0332bd69330e9ac4109495a420ca.jpg) no-repeat center fixed !important;
  min-height:100%;
  background-size: cover;
  background-color: black !important;
}

#undefined{
  background-color: rgba(20, 20, 20, 0.2);
  width: auto;
  height: 800px;
  align-content: center;
  color: white;
  text-align: center;
}

/*COMIENZA EL HEADER*/

.header{
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 180px;
  align-content: center;
  /* position: fixed; */
}

/* Left side */

.socialmedia {
  display: inline-flex;
  text-decoration: none !important;
}

.socialmedia i{
  
  color: rgb(170,170,170);
  padding: 0 0 0 25px;
  font-size: 25px;
  margin-top: 20px;
  
}

.socialmedia i:hover{
  
  color: rgb(220,220,220);
  padding: 0 0 0 25px;
  font-size: 25px;
  margin-top: 20px;
}

/* Medium side */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Left Side */

#search {
  /* color: white !important; */
  margin-top: 20px;
}

#search input {
  background-color: white;
  border-color: white;
  opacity: 0.3;
}

.userpath{
  color: rgb(120,120,120);
  text-align: right;
}

.login {
  text-decoration: none !important;
  color: rgb(170,170,170);
}

.signup {
  text-decoration: none !important;
  color: rgb(170,170,170);
}
.userpath a:hover{
  
  color: rgb(220,220,220);
}
.inputsearch::placeholder {
  color: red;
}

.input-group-text{
  background-color: white;
  border-color: none;
  opacity: 0.3;
}

/* Navbar */

.navbar #centerbar {
  width: 100%;
  display: flex;
}

.nav {
  margin: 10px 0px;
}

.nav-link {
  color: rgb(170,170,170);
  align-content: center;
  border-width: 1px 1px 0 0;
  border-color: rgb(170,170,170);
  border-style: solid;
  padding: 10px 30px;
}

.nav-link:hover {
  color: white;
  align-content: center;
  border-width: 1px 1px 0 0;
  border-color: rgb(170,170,170);
  border-style: solid;
  padding: 10px 30px;
}

.nav-link:last-child { 
  border-width: 1px 0 0 0; 
}



/*TERMINA EL HEADER*/

/* AQUI EMPIEZA EL INFOSEARCH */


.infosearch {
    background-color: rgba(20, 20, 20, 0.9);
    width: auto;
    align-content: center;
    /* padding-top: 180px; */
}

.databanksearch  {
  padding: 30px 0px;
}

.databanksearch .form-control{
  background-color: white;
  border-color: white;
  opacity: 0.2;
}

.firsttitle {
  color: white;
  padding-left: 130px;
}

/* AQUI TERMINA EL INFOSEARCH */

/* AQUI EMPIEZAN LOS AJUSTES DE CARDS */

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#homeimg {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 300px;     
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.card-group{
  width: 1000px;
  margin: 20px 20px;
  padding: 20px;
}

.row-group{
  width: 1000px;
}

.card-img-top{
  padding: 10px 0px;
  height: 400px;
  width: 99%;
  align-content: center;
  border-radius: 15px;
  overflow: auto;
  object-fit: cover;
}

#container-card{
  width: 850px;

  
}



/* AQUI EMPIEZA EL FOOTER */

.footer-container{
  background-color: rgba(20, 20, 20, 1);
  width: 100%;
  height: 200px;
  color: white;
  
}

.footer-container img{
  width: 100%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}